@import '../pure-min';

* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

@font-face {
    font-family: 'OpenSans';
    src: url('/assets/OpenSans-Regular-webfont.eot');
    src: url('/assets/OpenSans-Regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('/assets/OpenSans-Regular-webfont.woff') format('woff'),
         url('/assets/OpenSans-Regular-webfont.ttf') format('truetype'),
         url('/assets/OpenSans-Regular-webfont.svg#ChunkFive') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'OpenSans';
    src: url('/assets/OpenSans-Bold-webfont.eot');
    src: url('/assets/OpenSans-Bold-webfont.eot?#iefix') format('embedded-opentype'),
         url('/assets/OpenSans-Bold-webfont.woff') format('woff'),
         url('/assets/OpenSans-Bold-webfont.ttf') format('truetype'),
         url('/assets/OpenSans-Bold-webfont.svg#ChunkFive') format('svg');
    font-weight: bold;
    font-style: normal;
}

//Base

html {
  font-size: 14px;
}

body {
  font-family: OpenSans, Helvetica, Arial, sans-serif;
  padding-bottom: 60px;
}

a {
  color: #3b8bba;
  text-decoration: none;
}

ul {
  padding-left: 20px;
}

input {
  max-width: 100%;
}

h1:first-child {
  margin-top: 0;
}

//Layout

.inner {
  max-width: 1024px;
  margin: 0 auto;
}

#page_container,
#site_bar_content {
  @extend .inner;
}

#header {
  padding: 0 30px 0 0;
}

#records {
  float: left;
  padding-right: 30px;
  width: 72%;
}

#actions {
  float: right;
  width: 28%;

  > ul {
    list-style-type: none;
    padding-left: 0;

    li {
      margin-bottom: 1em;
    }
  }

  .pure-button {
    width: 100%;
  }
}

#menu-wrap {
  @extend .pure-menu, .pure-menu-open;

  li a {
    line-height: 1.25;
    padding: 5px 15px;
    white-space: normal;
  }
}

//Modules

.flash {
  border: 1px solid #fbeed5;
  border-radius: 2px;
  color: #c09853;
  margin-bottom: 20px;
  padding: 8px 35px 8px 14px;
  position: relative;
  text-shadow: 0 1px 0 rgba(#fff, 0.5);
}

.flash_notice {
  color: #3a87ad;
  background-color: #d9edf7;
  border-color: #bce8f1;
}

#flash_close {
  float: right;
  font-size: 0;
  position: relative;
  right: -21px;

  &:after {
    content: "×";
    display: inline-block;
    font-size: 16px;
  }
}

%inline {
  list-style-type: none;

  li {
    display: inline-block;
  }
}

//Pure extensions

.pure-button {
  font-size: 13px;
  position: relative;
  white-space: normal;
}

.pure-menu .active {
  background: #eee;
  color: #000;
}

.pure-button-compact {
  font-size: 90%;
  padding: 0.45em 0.75em;
}

.pure-button-icon {
  padding: 0.75em 1.5em 0.75em 2.75em;
}

//Modules

.tabs {
  @extend .pure-menu;
  @extend .pure-menu-open;
  @extend .pure-menu-horizontal;

  margin-bottom: -1px;
  overflow: hidden;
  padding-left: 0;

  li {
    a {
      background: #fafafa;
      border: 1px solid #ddd;

      &.active,
      &:hover {
        background: #f2f2f2;
        border-bottom-color: #f2f2f2;
      }
    }
  }

  .ui-state-active a {
    background: #f2f2f2;
    border-bottom-color: #f2f2f2;
  }
}

.tab-content-wrap, .page_part > #page_image_picker {
  background: #f2f2f2;
  border: 1px solid #ddd;
  margin-bottom: 1em;
  padding: 0.5em 1.5em 1em;
}

.tab-content {
  display: none;

  &.active { display: block; }
}

%icn-btn {
  @extend .pure-button;
  @extend .pure-button-primary;
  @extend .pure-button-icon;
  max-width: 100%;
  text-align: left;

  &:before {
    color: #fff;
    content: "";
    display: block;
    font-size: 17px;
    font-weight: bold;
    height: 1em;
    line-height: 1em;
    margin-top: -0.5em;
    opacity: 0.8;
    position: absolute;
    left: 0.75em;
    top: 50%;
    text-align: center;
    width: 1em;
    vertical-align: middle;
  }
}

.add_icon {
  @extend %icn-btn;
  &:before { content: "+"; }
}

.edit_icon {
  @extend %icn-btn;
  &:before { content: "✎"; }
}

.label {
  background-color: #dfdfdf;
  border-radius: 8px;
  font-size: 10px;
  margin: 0 4px;
  padding: 1px 6px;
}

//Refinery specific shiznit

#site_bar {
  background: #222;
  color: #eee;
  margin-bottom: 40px;
  padding: 12px 0;
}

#editor_switch {
  float: left;
  a {
    @extend .pure-button;
    @extend .pure-button-compact;
  }
}

#site_bar_branding {
  float: right;
  padding-top: 4px;
  text-align: right;
}

#site_bar_company_name select {
  margin-left: 12px;
}

#logout {
  margin-left: 12px;
}

.record {
  background: #fafafa;
  display: block;
  max-width: 570px;
  padding: 0.5em 0.75em;

  &:nth-of-type(odd) {
    background: #efefef;
  }

  .title {
    display: inline-block;
    max-width: 88%;
    vertical-align: middle;
  }

  .actions {
    float: right;
  }

  .nested {
    margin-top: 0.5em;
  }

  .tree & { background: none; }
  .nested & { padding: 0.5em 0; }
}

.nested:empty {
  display: none;
}

.pagination {
  font-size: 0;
  text-align: center;

  a, span, em {
    display: inline-block;
    font-size: 13px;
    padding: 0.4em 0.6em;
  }

  a:hover {
    background: #eee;
  }
}

#image_grid {
  list-style-type: none;

  li {
    display: inline-block;
    margin-bottom: 5%;
    width: 30%;

    .actions {
      display: block;
      text-align: center;
    }
  }
}

#dialog_menu_left {
  margin-bottom: 0.5em
}

//Forms

// hide search form for now. Might be a good idea to style and display it
// later on. I'll leave this @todo here for good measure.

.search_form { display: none; }

form {
  @extend .pure-form;
  @extend .pure-form-stacked;

  input, select, textarea {
    font-size: 0.9em;

    &[readonly] {
      background-color: #fff;
      border: 1px solid #ccc;
      color: #777;
      cursor: auto;
    }
  }

  .datetime {
    select {
      display: inline-block;
    }
  }

  label {
    color: #777;
  }

  select {
    margin-bottom: 1em;
  }
}

.input {
  margin-bottom: 0.5em;

  &.x-small input { width: 12.5%; }
}

textarea {
  border: 1px solid #ccc;
  border-radius: 4px;
  box-shadow: inset 0 1px 3px #ddd;
  padding: 0.5em;

  &:focus {
    outline: 0;
    border-color: #129fea;
  }
}

.error {
  color: #E60000;
}

.radio {
  @extend .pure-radio;

  input { margin-right: 0.25em; }
  label { margin-right: 0.5em; }
}

.checkboxes {
  list-style-type: none;
  padding-left: 0;
}

.field.boolean label {
  @extend .pure-checkbox;
  cursor: pointer;

  input {
    font-size: 1em;
    margin-right: 4px;
  }
}

input[type="checkbox"] + label {
  display: inline-block;
}

.form-actions {
  padding: 1em 0;

  a, .button {
    font-size: 0.9em;
    margin: 0 0.5em;
  }

  .loading & { background: image-url('refinery/ajax-loader.gif') right center no-repeat; }
}

.form-actions-left,
.form-actions-right {
  display: inline-block;
}

#page_parts {
  @extend .tabs;
  margin-bottom: 0;
}

#switch_locale_picker {
  overflow: hidden;
  padding: 0 15px 0 0;
  text-align: right;

  li {
    display: inline-block;
  }
}

.wymeditor {
  width: 815px;
}

input[type="submit"] {
  @extend .pure-button;
  @extend .pure-button-primary;
  box-shadow: none;
}

#more_options_field {
  @extend .clearfix;
  margin-bottom: 20px;
}

#toggle_advanced_options { float: left; }
#draft_field { float: right; }

#existing_image_area_content {
  @extend %inline;
  .selected img {
    box-shadow: 0 0 5px 2px #0078e7;
  }
}

.hint {
  color: #777;
  display: inline-block;
  font-size: 85%;
  font-style: italic;
  padding: 0.5em;
}

form .field_with_hint {
  label { display: block; }
  input { display: inline-block; }
}

// No need for a resizing image tool for now. Again, I'll leave this @todo here
// for good measure, this is a temporary hack.
#existing_image_size_area { display: none; }

// Link selector

.linked {
  font-weight: bold;
}

//Utilities

.clearfix:after {
  content:".";
  display:block;
  height:0;
  clear:both;
  visibility:hidden;
}
.clearfix {display:inline-block;}
/* Hide from IE Mac \*/
.clearfix {display:block;}
/* End hide from IE Mac */
